<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path,
              :method => :delete, class: "btn btn-lg btn-link") %>
<% else %>
  <%= link_to('Login', new_user_session_path,
              class: "btn btn-lg btn-link")  %>
<% end %>
