<%= form_for(@comment, url: post_comments_path(post_id: params[:id]), remote: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_area(:body, class: "col-md-12") %>
    </div>
    <div class="col-md-3">
      <%= f.submit('Add Comment', class: "btn btn-lg btn-success") %>
    </div>
  </div>
<% end %>
