<div class="row">
<p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2><%= @post.title %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= @post.body %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Comments</h3>
  </div>
</div>
<%= render 'comments/form' %>

<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>body</td>
      <td>date</td>
    </tr>
  </thead>
  <tbody id="comments">
    <% @comments.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.body %></td>
      <td><%= c.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @comments %>
<br/>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
