<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">

      <% if params[:controller] != "devise/registrations" %>
        <%= render 'devise/menu/registration_items' %>
      <% end %>
      <% if params[:controller] != "devise/sessions" %>
        <%= render 'devise/menu/login_items' %>
      <% end %>
    </div>
  </div>
  <div class="page-header">
    <h1>Hyunwoo's blog</h1>
  </div>
  <%= yield %>
</div>

</body>
</html>
